* {
  box-sizing: border-box;
}
/* body {
  font-size: 14px;
  
} */
img {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.title {
  color: rgba(0,0,0,1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 40px;
  padding-top: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}
.font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(71, 69, 69);
  font-size: 30px;
}

input[type=text], select {
  width: 60%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
  outline-color: #ccc;
  outline-style: outset;
}



input[type=submit] {
  /* width: 100%; */
  background-color: #548CA8;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  margin-top: 15%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline-color: #495d79;
  outline-style: outset;
}

input[type=submit]:hover {
  background-color: #334257;
  color: white;
}

/* .formulir {
  border-radius: 5px;
  margin-left: 800px;
  margin-right: 800px;
  background-color: #ffffff;
} */

form,form .input-icon{width:100%;}
form .input-icon{position: relative;}

form input{
  border:1px solid rgb(255, 255, 255);
  border-radius:2px;
  color:#777;
  outline:none;
  margin-top:3px;
  margin-bottom:6px;
  font-size:inherit;
  display:block;
  padding:8px;
  padding-left:30px;
  /* width:100%; */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form input+i{
  position:absolute;
  left:120px;
  top:20px;
  color:#777;
  align-items: center;
}

.checkbox {
width: 40%;
padding: 12px;
margin-left: 105px;
float: left;
text-align: left;
background-color: #ffffff;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
outline-color: rgb(165, 162, 162);
outline-style: outset;
}

.down {
list-style-type: none;
margin: 0;
padding: 10px;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #334257;
}

.dinsos{
float: left;
margin-left: 30px;
padding: 20px;
position: absolute;
color: rgb(245, 255, 155);
font-size: large;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.salam{
float: left;
padding: 20px;
margin-top: 40px;
margin-left: 30px;
color: white;
}

.right{
float: right;
margin-left: 800px;
text-align: center;

}

.formulir {
border-radius: 15px;
background-color: #f2f2f2;
padding: 20px;
width: 550px;
/* margin-left: 400px; */
/* margin-right: 400px; */
margin-top: 20px;
}