* {
  box-sizing: border-box;
}

img {
  color: white;
  float: left;
  width: 30%;
  padding: 15px;
  margin-left: 2%;
  align-items: center;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #334257;
  text-align: center;
}

li {
  float: right;
  font-size: large;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 35px 35px;
  text-decoration: none;
}

li a.active{
  background-color: #F7FF93;
  color: black;
}

li a:hover:not(.active) {
  background-color: #F7FF93;
  color: black;
}

.dinsos{
  /* float: left; */
  margin-left: 40px;
  padding-top: 20px;
  /* position: absolute; */
  color: rgb(245, 255, 155);
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.salam{
  /* float: left; */
  /* padding: 20px; */
  /* margin-top: 40px; */
  margin-left: 40px;
  color: white;
}

li sosmed{
  float: right;
  margin-right: 40px;
  position: absolute;
}

.user {
    background-color: #EEEEEE;
    color: #334257;
    border-radius: 8px;
    border: 2px solid #334257; 
    padding: 8px;
    margin-right: 50px;
    width: 150px;
    float: right;
    position: relative;
}

table {
    color: #EEEEEE;
}

.warning {
    color:rgb(255, 255, 255);
    background-color: #548CA8;
    padding: 10px;
    position: relative;
    word-break: break-all;
}


.klik {
    color:#F7FF93;
    text-decoration: none;
}

.klik:hover{
    color: black;
    background-color: #548CA8;
    text-decoration: none;
}


.border{
  border:1px solid #ccc;
  border-radius:4px;
  color:#777;
  outline: #334257 1px;
  margin-top:2px;
  margin-bottom:6px;
  font-size:inherit;
  display:block;
  padding:2px;
  padding-left:30px;
  width:100%;
}

.tell1{
    color: red;
    font-size: small;
}

.tell2{
    color: #777;
    font-size: small;
}

.tell3{
  color: #535353;
  font-size: 15px;
}

.tell4{
  color: blue;
  font-size: medium;
}

.tell5{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.break{
word-break: break-all;
white-space: nowrap;
float: left;
clear: right;
}

.space{
margin-right: 15%;
padding: 30px;
}

.down {
list-style-type: none;
margin: 0;
padding: 10px;
overflow: hidden;
border: 1px solid #e7e7e7;
background-color: #334257;
}

.footer {
position: relative;
left: 0;
bottom: 0;
width: 100%;
background-color: #334257;
color: white;
}

.right {
text-align:right;
margin-right: 40px;
padding-bottom: 30px;
}